body{
    background-color: bisque;
}
.topnav{
    word-spacing: 20px;
    color: black;
    font-size: 20px;
}
.port{
    color: rgb(68, 151, 151);
    float: left;
}
.head{
    float: right;
}
.paragraph{
    font-size:30px;
    font: bold;
    word-spacing: 5px;
    color: rgba(39, 47, 117, 0.925);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image{
    float:right;
    margin-right: 100px;
}
.intro{
   margin-left: 10px;
    font-size: 40px;
    color: rgb(58, 58, 221);
}
h2{
    color: chocolate;
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
}
h3{
    margin-left: 100px;
    font-size: 40px;
    color:coral;
}
.study>.btech>.one>.two{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btech{
    font-size: 30px;
    margin-left: 20px;
    color:blueviolet;
    text-align: left;
    display: inline-table;
}
.one{
    color: darkgoldenrod;
    font-size: 30px;
    margin-left: 70px;
    display: inline-table;
}
.one>li{
    text-align: left;
}
.two{
    color: darkcyan;
    font-size: 30px;
    float: right;
    display: inline-table;
}
.icon{
    margin-left: 70px;
    align-items: center;
    display: flex;
    width: 300px;
    height: 400px;
    position: relative;
    animation: mymove 5s infinite;
}
.tech,.nontech{
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tech{
    float: left;
}
.nontech{
    float: right;
}
.left{
    float: left;
    font-size: 40px;
    margin-left: 50px;
}
.right{
    float:right;
    font-size: 40px;
    margin-right: 50px;
}
html{
    scroll-behavior: smooth;
}
.contact{
    margin-top: 500px;
}
.detail{
    float: left;
}
.logo{
    float: inline-start;
}
@keyframes mymove{
    
    0%{
        left:0px;top:0px;
    }
    25%{
        left:200px;top:0px;
    }
    50%{
        left: 200px;top:200px;
    }
    75%{
        left:0px;top:200px;
    }
    100%{
        left:0px;top:0px;
    }
}